input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.toggle ::ng-deep .mdc-label {
  margin-bottom: 0px !important;
}

table {
  width: 100%;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-mdc-cell {
    white-space: nowrap;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}
